@font-face {
    font-family: 'Nexa';
    src: url('./Nexa-Heavy.ttf') format('truetype');
    font-weight: light, bold;
}

@font-face {
    font-family: 'Nexa-light';
    src: url('./Nexa-ExtraLight.ttf') format('truetype'), ;
}